<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tetando</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .fa.fa-thumbs-up {
            cursor: pointer;
            color: #00a800;
        }
        .fa.fa-thumbs-down{
            cursor: pointer;
            color: #c51c1c;
        }

        button i {
            color: #fff;
        }
    </style>

    <script>
        $(document).ready(function () {

        });
    </script>

</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <div class="text-center">
                <h1>Matérias Recomendadas</h1>
                <br>
                <br>
            </div>
            <div class="row">
                {% if countArtigos > 0 %} {% for a in artigos %}
                <div class="col-md-4 text-center mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{% if a.urlToImage == '' %}https://via.placeholder.com/500{% else %}{{a.urlToImage}}{% endif %}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{a.title}}</h5>
                            <p class="card-text">{{a.description}}</p>
                            <a href="{{a.url}}" class="btn btn-primary">Ver Matéria Completa</a>

                            <div class="row text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="col-12 text-center" style="color: #cc5858;">
                    <h1>Desculpe, não podemos te recomendar nada agora!</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>